:root{
--neu-dark:rgba(0,0,0,0.45); /* @kind shadow */
--neu-light:rgba(233,221,175,0.07); /* @kind shadow */

--shadow-neu-raised:6px 6px 14px var(--neu-dark),-5px -5px 12px var(--neu-light); /* @kind shadow */
--shadow-neu-raised-sm:3px 3px 7px var(--neu-dark),-2px -2px 6px var(--neu-light); /* @kind shadow */
--shadow-neu-inset:inset 4px 4px 9px var(--neu-dark),inset -3px -3px 7px var(--neu-light); /* @kind shadow */
--shadow-neu-inset-sm:inset 2px 2px 5px var(--neu-dark),inset -2px -2px 4px var(--neu-light); /* @kind shadow */

--radius-neu-sm:12px; /* @kind radius */
--radius-neu-md:18px; /* @kind radius */
--radius-neu-lg:26px; /* @kind radius */
}
